<h2>
  Он-лайн запись
</h2>

<form action="/visit" method="post">

  <div class="form-group">
    <label>Выберите парикмахера </label>
    <select name="barber" class="form-control">
      <option>Walter White</option>
      <option>Jassie Pinkman</option>
      <option>Gus Fring</option>
    </select>
  </div>

  <div class="form-group">
    <label> Ваше имя </label>
    <input name="username" type="text" class="form-control" placeholder="Иван">
  </div>

  <div class="form-group">
    <label> Телефон </label>
    <input name="phone" type="text" class="form-control" placeholder="Телефон">
  </div>

  <div class="form-group">
    <label> Время записи </label>
    <input name="datet" type="text" class="form-control" placeholder="Время">
  </div>

  <button type="submit" class="btn btn-primary">Записаться</button>

</form>
